body {
    color: #000;
}
ul li {
    list-style-type: none;
}
div, input {
    border-radius: 10px;
}
/*.stars {
    opacity: 0.1;
}*/

.stars:hover {
    opacity: 1;
    color: yellow;
    cursor: pointer;
}
.bin:hover {
    cursor: pointer;
}
.pagination li {
    display:inline-block;
    padding:5px;
  }
  h3 {
      color: #fff;
  }