body {
    background:linear-gradient(45deg,#41acea 0%,#6066f4 50%,#b551f8 100%);
    font-family: 'Roboto', sans-serif;
    color: #74797e;
}
#page {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
header {
    margin-top: 1.5rem;
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h1 {
    margin: auto;
}
#tableau {
    margin-bottom: 4rem;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 39rem;
}
.labeled {
    display: inline-block;
    width: 7em;
    top: -3em;
    margin-bottom: 0rem;
}
.formLabel {
    display: inline-block;
    width: 7em;
    margin-right: .5em;
    padding-top: 1.5em;
    color: #aeacb5;
    margin-bottom: 1rem;
}
.subtitle {
    font-weight: bold;
    margin-left: 1.5rem;
}
input {
    background-color: #e5e5e5;
    border-radius: 5px;
    height: 1.5rem;
    margin-bottom: 1rem;
    border: none;
    padding: 12px 20px;
}
/*input:invalid {
    border: 1px solid red;
}*/
/*input:valid {
    border: 1px solid black;
}*/
input[type="radio"]{
    margin-top: -1px;
    vertical-align: middle;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;

}
input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: 1px;
    left: 5px;
    position: relative;
    background-color:#57b846;
    content: '';
    display: inline-block;
    visibility: visible;
}
select {
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 12px 20px;
    height: 3rem;
    border: none;
    color: gray;
    cursor: pointer;
}
button {
    background-color: #ff4b5a;
    border-radius: 5px;
    margin-bottom: 4rem;
    margin-top: .5rem;
    color: #fff;
    font-weight: bold;
    height: 3rem;
    width: 10rem;
    cursor: pointer;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
td {
    width: 6rem;
}
.name {
    width: 135%;
}
#question {
    padding-top: 1rem;
    margin-left: 4rem;
    margin-right: auto;
    width: 90%;
    font-weight: bold;
}
.botLabel {
    vertical-align: super;
    cursor: pointer;
}